<meta charset="utf-8">
<style type="text/css">
	body {
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.arrow {
		font-size: 50px;
		font-weight: bolder;
	}
	.left {
		transform: rotate(0deg);
	}
	.bottom {
		transform: rotate(90deg);
	}
	.right {
		transform: rotate(180deg);
	}
	.top {
		transform: rotate(270deg);
	}
</style>
<div class="arrow left">&#10140;</div>
<div class="arrow bottom">&#10140;</div>
<div class="arrow right">&#10140;</div>
<div class="arrow top">&#10140;</div>