<meta charset="utf-8">
<style type="text/css">
	body {
		margin: 0px;
		padding: 0px;
	}
	.page {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	#main {
		background: red;
	}
	#about {
		background: lime;
	}
	.content {
		height: 100%;
		width: 1100px;
		background: yellow;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 40px;
	}

	.mesh {
		width: 500px;
		height: 800px;
		border-radius: 15px;
		background: lime;
	}
	.mesh2 {
		width: 500px;
		height: 200px;
		border-radius: 15px;
		background: lime;
	}
</style>
<div class="page" id="main">
	<div class="content">
		<div class="mesh"></div>
	</div>
</div>
<div class="page" id="about">
	<div class="content">
		<div class="mesh2"></div>
	</div>
</div>